<input
  placeholder="Onwer"
  style="width:50px"
  (input)="service.owner = $event.target.value">

<br><br>

<div class="canvas-container">
  <cw-canvas
    [drawOptions]="drawOptions"
    class="canvas-draw"
    [showGuides]="!cutOpen"
    [broadcast]="service.broadcast$ | async"
    (draw)="service.emit($event)">
  </cw-canvas>

  <cw-canvas
    *ngIf="cutOpen"
    class="canvas-cut"
    [drawDisabled]="true"
    [broadcast]="service.broadcastHistoryCut$ | async">
  </cw-canvas>
</div>

<br><br>

<select
  class="draw-options"
  [(ngModel)]="drawOptions.strokeStyle">
  <option>grey</option>
  <option>red</option>
  <option>green</option>
  <option>blue</option>
</select>

<input
  class="draw-options"
  type="range"
  min="1"
  max="20"
  [(ngModel)]="drawOptions.lineWidth">
  {{ drawOptions.lineWidth }}

<br><br>

<nz-button-group>
  <button nz-button nzType="primary" (click)="service.undo()"><i nz-icon type="undo"></i></button>
  <button nz-button nzType="primary" (click)="service.redo()"><i nz-icon type="redo"></i></button>
  <button nz-button nzType="primary" (click)="service.clear()"><i nz-icon type="delete"></i></button>
  <button nz-button nzType="primary" (click)="service.redraw()"><i nz-icon type="history"></i></button>
  <button nz-button nzType="primary" (click)="toggleCut()"><i nz-icon type="scissor"></i></button>
</nz-button-group>

<div class="actions">
</div>

<br><br>

<div class="actions" *ngIf="cutOpen">
  <input
    type="range"
    min="0"
    [max]="cutLastIndex"
    [(ngModel)]="cutIndex"
    (ngModelChange)="updatecutIndex()">
  {{ cutIndex }}

  <button (click)="cut()">Cut</button>
</div>
