@import "../../styles/mixins.scss";

:host {
  display: flex;
  height: 100%;
}

.container {
  margin: auto;
  padding: 1rem;
}

.logo {
  display: block;
  font-size: 1.75em;
  padding-bottom: 2.5rem;
  opacity: 0.2;
}

.title {
  line-height: 1em;
  font-size: 4rem;
}

.github {
  display: block;
  margin-top: 4.5rem;
  color: inherit;
  svg {
    width: 1.5rem;
  }
}

@include ngThemes {
  .highlight {
    color: map-get($app-theme, primary-color);
  }
}
