<input
  placeholder="Onwer"
  style="width:50px"
  (input)="service.owner = $event.target.value">

<br><br>

<div class="canvas-container">
  <cw-canvas
    [drawOptions]="drawOptions"
    class="canvas-draw"
    [showGuides]="!cutOpen"
    [broadcast]="service.broadcast$ | async"
    (draw)="service.emit($event)">
  </cw-canvas>

  <cw-canvas
    *ngIf="cutOpen"
    class="canvas-cut"
    [drawDisabled]="true"
    [broadcast]="service.broadcastHistoryCut$ | async">
  </cw-canvas>
</div>

<br><br>

<select
  class="draw-options"
  [(ngModel)]="drawOptions.strokeStyle">
  <option>grey</option>
  <option>red</option>
  <option>green</option>
  <option>blue</option>
</select>

<input
  class="draw-options"
  type="range"
  min="1"
  max="20"
  [(ngModel)]="drawOptions.lineWidth">
  {{ drawOptions.lineWidth }}

<br><br>

<div class="actions">
  <button (click)="service.undo()">Undo</button>
  <button (click)="service.redo()">Redo</button>
  <button (click)="service.clear()">Clear</button>
  <button (click)="service.redraw()">Redraw</button>
  <button (click)="toggleCut()">Cut tool</button>
</div>

<br><br>

<div class="actions" *ngIf="cutOpen">
  <input
    type="range"
    min="0"
    [max]="cutLastIndex"
    [(ngModel)]="cutIndex"
    (ngModelChange)="updateCutIndex()">
  {{ cutIndex }}

  <button (click)="cut()">Cut</button>
</div>

<cw-toolbox></cw-toolbox>
