.canvas-container {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 300px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.canvas-draw {
  background-color: white;
}

.canvas-cut {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.75);
}
