<div class="canvas">
  <cw-canvas
    [class.cut-tool--open]="cutOpen"
    [broadcast]="service.broadcast$ | async"
    (draw)="service.emit($event)">
  </cw-canvas>

  <cw-canvas
    *ngIf="cutOpen"
    class="canvas-cut"
    [background]="false"
    [drawDisabled]="true"
    [broadcast]="service.broadcastHistoryRange$ | async">
  </cw-canvas>
</div>

<br>
<button (click)="service.undo()">Undo</button>
<button (click)="service.redo()">Redo</button>
<button (click)="service.clear()">Clear</button>
<button (click)="service.redraw()">Redraw</button>
<button (click)="toggleCut()">Cut tool</button>

<br><br>

<div *ngIf="cutOpen">
  <input
    type="range"
    min="0"
    [max]="lastIndex"
    [(ngModel)]="historyIndex"
    (ngModelChange)="updateHistoryIndex()">
  {{ historyIndex }}

  <button (click)="cut()">Cut</button>
</div>
