.mirror__container {
  display: flex;
  height: 100%;
  text-align: center;
}

.mirror__container-inner {
  margin: auto;
}

.mirror__canvas-source {
  display: inline-block;
  background-color: #fff;
}

.mirror__canvas-target {
  display: inline-block;
  background-color: #f5f5f5;
}
