@import "../../styles/mixins.scss";

.button {
  outline: none;
  padding: 0.35rem 0.70rem;
  border-radius: 3px;
  border: none;
  color: white;
  font: inherit;
}

@include ngThemes {
  .button {
    background-color: map-get($app-theme, primary-color);
  }
}
