@import "../../styles/variables.light.scss";

.button {
  outline: none;
  padding: 0.35rem 0.70rem;
  border-radius: 3px;
  border: none;
  background-color: $app-primary-color;
  color: white;
  font: inherit;
}
