@import url("https://fonts.googleapis.com/css?family=Mali&display=swap");

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Mali", cursive;
  background-color: $app-background-color;
  color: $app-text-color;
}

a {
  &, &:visited {
    color: $app-link-color;
    text-decoration: none;
    transition: color 150ms ease;
  }

  &:hover, &:active, &:focus {
    color: $app-link-active-color;
    text-decoration: underline;
  }
}

input, option {
  font-family: inherit;
}
