@import url("https://fonts.googleapis.com/css?family=Mali&display=swap");

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Mali", cursive;
  background-color: map-get($app-theme-light, background-color);
  color: map-get($app-theme-light, text-color);
}

a {
  &, &:visited {
    cursor: pointer;
    color: map-get($app-theme-light, link-color);
    text-decoration: none;
    transition: color 150ms ease;
  }

  &:hover, &:active, &:focus {
    color: map-get($app-theme-light, link-active-color);
    text-decoration: underline;
  }
}

input, option {
  font-family: inherit;
}
