@import "./mixins.scss";

@include themes {
  $cw-primary-color: map-get($app-theme, primary-color);
  $cw-border-color: map-get($app-theme, border-color);
  $cw-surface-color: map-get($app-theme, surface-color);
  $cw-text-color: map-get($app-theme, text-color);
  $cw-canvas-draw-bg-color: map-get($app-theme, canvas-draw-bg-color);
  $cw-canvas-cut-bg-color: map-get($app-theme, canvas-cut-bg-color);

  @import "../projects/collaborative-whiteboard/src/lib/styles/cw.core.scss";
}
