$cw-primary-color: map-get($app-theme-light, primary-color);
$cw-border-color: map-get($app-theme-light, border-color);
$cw-surface-color: map-get($app-theme-light, surface-color);
$cw-text-color: map-get($app-theme-light, text-color);
$cw-canvas-draw-bg-color: map-get($app-theme-light, canvas-draw-bg-color);

@import "../projects/collaborative-whiteboard/src/lib/styles/cw.core.scss";
