$app-primary-color: #7CB342;

$app-link-color: #AED581;
$app-link-active-color: $app-primary-color;

$app-background-color: #424242;

$app-text-color: #E0E0E0;

$app-pale-color: rgba(160, 160, 160, 0.25);

$app-border-color: #757575;

$app-surface-color: #616161;

$app-header-border-color: #101010;
$app-header-background-color: #212121;
$app-header-link-color: #616161;
$app-header-link-active-color: $app-primary-color;

$app-canvas-draw-bg-color: #424242;
