$app-primary-color: #7CB342;

$app-theme-light: (
  primary-color: $app-primary-color,

  link-color: #689F38,
  link-active-color: $app-primary-color,

  background-color: #F5F5F5,

  text-color: #424242,

  pale-color: rgba(160, 160, 160, 0.25),

  border-color: #E0E0E0,

  surface-color: #F5F5F5,

  header-border-color: #DDDDDD,
  header-background-color: #FFFFFF,
  header-link-color: #BDBDBD,
  header-link-active-color: $app-primary-color,

  canvas-draw-bg-color: #FFFFFF,
);
