$app-primary-color: #7CB342;

$app-link-color: #689F38;
$app-link-active-color: $app-primary-color;

$app-background-color: #F5F5F5;

$app-text-color: #424242;

$app-pale-color: rgba(160, 160, 160, 0.25);

$app-border-color: #E0E0E0;

$app-surface-color: #F5F5F5;

$app-header-border-color: #DDDDDD;
$app-header-background-color: #FFFFFF;
$app-header-link-color: #BDBDBD;
$app-header-link-active-color: $app-primary-color;

$app-canvas-draw-bg-color: #FFFFFF;
