<div class="layout">
  <div class="header">
    <div class="title" routerLink="/home">CW</div>

    <div class="menu">
      <a class="menu-link" routerLinkActive="menu-link--active" routerLink="/home">Home</a>
      <a class="menu-link" routerLinkActive="menu-link--active" routerLink="/canvas">Canvas</a>
      <a class="menu-link" routerLinkActive="menu-link--active" routerLink="/canvas-mirror">Canvas-mirror</a>
      <a class="menu-link" routerLinkActive="menu-link--active" routerLink="/whiteboard">Whiteboard</a>
      <a class="menu-link" routerLinkActive="menu-link--active" routerLink="/whiteboard2">Whiteboard2</a>
    </div>
  </div>

  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
