<div class="layout">
  <div class="header">
    <div class="title">Collaborative Whiteboard</div>

    <div class="menu">
      <a class="menu-link" routerLink="/canvas">canvas</a> &nbsp;
      <a class="menu-link" routerLink="/canvas-mirror">canvas-mirror</a> &nbsp;
      <a class="menu-link" routerLink="/whiteboard">whiteboard</a> &nbsp;
      <a class="menu-link" routerLink="/whiteboard2">whiteboard2</a>
    </div>
  </div>

  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
