@import "./styles/variables.light.scss";

.layout {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 2.5rem 1fr;
  grid-template-areas: "header" "main";
  height: 100%;
  text-align: center;
}

.header {
  grid-area: header;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 -5px 5px 5px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid $app-header-border-color;
  background-color: $app-header-background-color;
  line-height: 2.5rem;
}

.main {
  grid-area: main;
  z-index: 1;
  position: relative;
  box-sizing: border-box;
  background-color: $app-background-color;
  overflow: auto;
}

.logo {
  padding: 0 0.5rem;
  font-size: 1.5rem;
  box-shadow: 0 1px 0 darken(#558B2F, 5);
  background-color: #558B2F;
  text-shadow: -1px -1px 0 #33691E;
  color: #AED581;
  cursor: pointer;
  outline: none;
}

.menu {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 0.25rem;
}

.menu-link {
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0.5rem;
  color: $app-header-link-color;
  text-decoration: none;
}

.menu-link--active {
  color: $app-header-link-active-color;
}
