@import "../projects/collaborative-whiteboard/src/lib/themes/cw.variables.scss";

$track-color: #EEEEEE;
$thumb-color: $cw-primary-color;

$thumb-radius: 9px;
$thumb-height: 18px;
$thumb-width: 18px;
$thumb-shadow-size: 2px;
$thumb-shadow-blur: 2px;
$thumb-shadow-color: rgba(0, 0, 0, 0.2);
$thumb-border-width: 1px;
$thumb-border-color: darken($cw-primary-color, 3);

$track-width: auto;
$track-height: 6px;
$track-shadow-size: 1px;
$track-shadow-blur: 1px;
$track-shadow-color: transparent;
$track-border-width: 1px;
$track-border-color: darken(#EEEEEE, 3);

$track-radius: 3px;
$contrast: 0%;

@import "~input-range-scss/inputrange";
