@import url('https://fonts.googleapis.com/css?family=Mali&display=swap');

html, body {
  height: 100%;
}

html {
  font-family: 'Mali', cursive;
  color: #424242;
}

body {
  margin: 0;
}

input, option {
  font-family: inherit;
}

@import './input-range.scss';

@import '~@angular/cdk/overlay-prebuilt.css';
