@import './mixins.scss';

@import url('~typeface-mali/index.css');

html,
body,
#root {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: 'Mali', cursive;
}

* {
  outline: none;
}

a {
  &,
  &:visited {
    cursor: pointer;
    text-decoration: none;
    transition: color 150ms ease;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

input,
option {
  font-family: inherit;
}

@include themes {
  body {
    background-color: map-get($app-theme, background-color);
    color: map-get($app-theme, text-color);
  }

  a {
    &,
    &:visited {
      color: map-get($app-theme, link-color);
    }

    &:hover,
    &:active,
    &:focus {
      color: map-get($app-theme, link-active-color);
    }
  }
}
