$app-primary-color: #7cb342;

$app-theme-light: (
  primary-color: $app-primary-color,
  link-color: #689f38,
  link-active-color: $app-primary-color,
  background-color: #f5f5f5,
  text-color: #424242,
  pale-color: rgba(160, 160, 160, 0.25),
  border-color: #e0e0e0,
  surface-color: #f5f5f5,
  header-border-color: #dddddd,
  header-background-color: #ffffff,
  header-link-color: #bdbdbd,
  header-link-active-color: $app-primary-color,
  canvas-draw-bg-color: #ffffff,
  canvas-cut-bg-color: rgba(darken(#ffffff, 3), 0.6)
);
