.cw-icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  // text-align: center; // FIXME: FOR REACT (because it's useless - the parent should have this rule...)
}

.cw-icon__inner {
  height: 100%;
}
